@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/ClashDisplay-Regular.otf') format('woff');
    font-weight: 500;
    font-style: normal;
  }
}

@layer components {
  .nav-link{
    @apply text-lg font-semibold hover:text-amelia-green
  }

  .cta{
    @apply px-6 py-2 text-lg font-medium border border-white 
    hover:border-amelia-green hover:text-amelia-green active:scale-95
  }

  .service-title{
    @apply text-4xl uppercase font-black flex-shrink-0 ml-9
  }

  .hover-effect{
    @apply transform ease-in-out duration-300
  }
}

/* Animation */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.service-slider {
  display: flex;
  flex-direction: row;
  animation: 10s slide infinite linear;
}

@media screen and (min-width: 1200px) {
  .service:hover .service-slider {
    animation-play-state: paused;
  }
  }


.service:before,
.service:after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}

.service:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), green);
}

.service:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), green);
}